body {
    background-color: lightcyan;
    font-family: Arial;
    text-align: center;
}

h1 {
    color: darkblue;
}

h2 {
    color: green;
}

p {
    font-size: 18px;
}

ul {
    list-style-type: square;
}
